html, body {
    height: 100%;
}

.container {
    height: 900px;
    padding: 20px;
}

.panel-default {
    height: 100%;
}

.channel-list-container {
    float: left;
    width: 400px;
}

.message-list-container {
    margin-left: 420px;
    position: relative;
}

.panel-heading {
    height: 60px;
}

.panel-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    border-top: none;
}

.list-group {
    margin-top: 10px;
}

.list-group-item {
    margin-top: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.glyphicon {
    cursor: pointer;
}

.highcharts-container {
    margin: auto;
}